.cont {
    padding: 3rem;
}
.legende {
    display: flex;
    flex-direction: row;
    align-content: center;
    flex-wrap: wrap;
}
.box-smart {
    background-color: rgb(51, 51, 189);
    width: 20px;
    height: 15px;
    display: block;
    border-radius: 10px;
    margin: 5px;
}
.box-assenza {
    background-color: rgb(219, 61, 61);
    width: 20px;
    height: 15px;
    display: block;
    border-radius: 10px;
    margin: 5px;
}