<!-- calendarmodal.component.html -->
<h2 mat-dialog-title>Select Boxes Modal</h2>
<div class="container">
  <mat-dialog-content>

    <mat-form-field class="w-100">
      <mat-label>Person</mat-label>
      <mat-select [(ngModel)]="selectedPerson" *ngIf="listPerson">
        <mat-option *ngFor="let person of listPerson" [value]="person">
          {{ person.firstname }} {{ person.lastname }}
        </mat-option>
      </mat-select>
    </mat-form-field>


    <div class="row">
      <div class="col-6">
        <mat-form-field>
          <mat-label>Event type</mat-label>
          <mat-select [(ngModel)]="eventTitle">
            <mat-option *ngFor="let state of states" [value]="state.state">{{state.state | removeUnderscore}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-6">
        <mat-form-field class="w-100">
          <mat-label>Hours</mat-label>
          <mat-select [(ngModel)]="selectedHour">
            <mat-option *ngFor="let hour of hours" [value]="hour">{{ hour }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <mat-form-field class="example-form-field w-100">
      <mat-label>Notes</mat-label>
      <input matInput type="text">
    </mat-form-field>

  </mat-dialog-content>

  <mat-dialog-actions class="button-cont">
    <button class="btn btn-secondary" mat-button (click)="onNoClick()">Close</button>
    <button class="btn btn-outline-dark ms-3" mat-button [mat-dialog-close]="getEventData()"
      cdkFocusInitial>Add</button>
  </mat-dialog-actions>
</div>