body {
    background-color: #f5f6fb;
}
.fc .fc-daygrid-day.fc-day-today { 
    background-color: #9fa9e7;
}
.fc .fc-daygrid-day-frame {
    min-height: 100%;
    position: relative;
    background-color: #4d60cd1c;
}