.cont {
    padding: 3rem;
}
.legende {
    display: flex;
    flex-direction: row;
    align-content: center;
    flex-wrap: wrap;
}
.box-smart {
    background-color: rgb(51, 51, 189);
    width: 20px;
    height: 15px;
    display: block;
    border-radius: 10px;
    margin: 5px;
}
.box-assenza {
    background-color: rgb(219, 61, 61);
    width: 20px;
    height: 15px;
    display: block;
    border-radius: 10px;
    margin: 5px;
}
.event-detail {
    padding: 25px;
    width: fit-content;
}
.cont-detail {
    background-color: #ebeefa;
    padding: 30px;
    color: black;
    border-radius: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.cont-dettagli {
    display: flex;
    flex-direction: row;
    background-color: #ecedf933;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    padding: 10px;
}

